.status {
	font-weight: 600;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.friendList{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.friendList li {
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 8px;
  text-align: center;
}
.name{
  font-size: 20px;
  font-weight: 900;
}
.online {
  color: green;
  font-weight: 500;
}

.offline {
  color: red;
  font-weight: 500;
}